.logo{
    width: 17em;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login{
    background-color: var(--container-color);
    padding: 3em 4em 4em 4em;
    border-radius: 8px;
}

.logo{
    margin-bottom: 2em;
}

.input-block{
    background-color: var(--secondary-color);
    padding: 1em;
    margin-top: 1em;
    border-radius: 8px;
    position: relative;
}

.input-block label{
    opacity: 30%;
    position: absolute;
}

.input-block input{
    color: white;
    outline: 0;
    width: 100%;
    height: 2em;
    background: var(--secondary-color);
    border: none;
}

.forgot-password{
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 1.5em;
    margin-top: .5em;
}

.button{
    background-color: var(--primary-color);
    padding: 0.8rem 4rem;
    display: inline-block;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 8px;
    transition: 0.2ms;
}

.button-login{
    padding: 0.8rem 6.5rem;
}

.button:hover{
    background-color: #f1364f;
}

.register{
    text-align: center;
    margin-top: 1em;
}

.register a{
    font-weight: 700;
    color: var(--primary-color);
}