.logo-header{
    width: 10em;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6em 2em;
    background-color: var(--primary-color);
}

nav{
    width: 18em;
}

nav ul{
    display: flex;  
    align-items: center;
    list-style: none;
    justify-content: space-around;  
    margin-left: 1em;
}


.my-profile{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile{
    width: 2.3em;
    height: 2.3em;
    object-fit: cover;
    border-radius: 3em;
}