.challenges-container,.challenges-content-container{
    height: 100%;
}


.challenges-content-container{
    display: flex;
}

.challenges-content{
    padding: 2em;
}

.challenges-content h1{
    margin-bottom: 1em;
}



@media only screen and (min-width: 800px){

}